<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Navbar</title>
     <link href="../css/navbar.css" rel="stylesheet">
</head>
<body>

     <nav>
         <img src="https://placehold.co/100x100">
         <div>
          <a href="../templates/index.html">Accueil</a>
          <a href="../templates/services.html">Services</a>
          <a href="../templates/apropos.html">A propos</a>
          <a href="../templates/equipes.html">Equipes</a>
         </div>
         

          <a href="../templates/contact.html">Contactez-Nous</a>
     </nav>
     
</body>
</html>